@import "~bootstrap/dist/css/bootstrap.min.css";
.pinta {
  font-size: 70px;
}

.valor {
  font-size: 120px;
}

.rotate-180 {
  transform: rotate(180deg);
  display: inline-block;
}

.spade {
  color: black;
}

.club {
  color: black;
}

.heart {
  color: red;
}

.diamond {
  color: red;
}
